{% extends 'base.html.twig' %}

{% block title %}Edit Epipassager{% endblock %}
 {% block titre %} {{ parent() | upper }} MODIFIER-PASSAGER {% endblock %}

{% block body %}
       <div class="edit">

    {{ include('epipassager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('epipassager_index') }}"><button type="button" class="btn btn-primary">return à list</button></a>

    {{ include('epipassager/_delete_form.html.twig') }}
        </div>

{% endblock %}
